@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');

body {
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;
}

/* スマホ表示の時 */
@media screen and ( max-width:500px){
  .allBooksImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .top-slider-image-style{
    width: 98%;
    height:50vw;
  }

  .displayOnlyXs{
    display: block;
  }
}

/* タブレット表示の時 */
@media screen and (min-width:501px) and ( max-width:1100px){
  .allBooksImg{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .top-slider-image-style{
    width: 98%;
    height:60vw;
  }

  .displayOnlyXs{
    display: none;
  }
}

/* PC表示の時 */
@media screen and (min-width:1101px){
  .allBooksImg{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .top-slider-image-style{
    width: 98%;
    height:40vw;
  }

  .displayOnlyXs{
    display: none;
  }
}

.allSeriesImg{
  width: 100%;
}

.nowReadableMangaFontStyle{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.vh100{
  height: 100vh;
}

.vh90{
  height: 90vh;
}

.pageStyle{
  width: 100%;
  height: 100vh;
}

.likeStyle{
  z-index: 200000000000;
  position: relative;
}

.likeStyle2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.commentStyle{
  z-index: 200000000000;
  position: absolute;
  left: 8%;
  top: 9px;
  width: 100%;
  display: flex;
}

.commentStyle2{
  width: 250px;
  background-color: white;
  flex: 1;
}

.commentStyle3{
  padding: 10px;
  font-size: 30px;
  border-radius: 50%;
  background-color: white;
}

.favoritePagesFontStyle{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 55px;
}

.commentsStyle{
  z-index: 200000000001;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.zIndex{
  z-index: 2000000000000000000;
}

.relative{
  position: relative;
}

.displayCommentStyle{
  z-index: 200000000000;
  position: absolute;
  top: 40px;
}

.displayCommentStyle2{
  z-index: 200000000000;
  width: 200px;
}

.DoalogStyle{
  z-index: 2000000000000000 !important;
  width: 100%;
  height: 100%;
}

.fontSize40px{
  font-size: 40px !important;
}

.fontSize30px{
  font-size: 30px !important;
}

.fontSize20px{
  font-size: 20px !important;
}

.commnetContentStyle{
  color: rgb(97, 97, 97);
  padding: 15px;
}

.commnetContentStyle2{
  font-size: 10px;
  color: rgb(189, 189, 189);
  text-align: right;
  margin-top: -20px;
}

.commnetContentStyle3{
  font-size: 10px;
  color: rgb(189, 189, 189);
  text-align: left;
}

.commnetContentStyle4{
  font-size: 30px;
  color: black;
  text-align: left;
  padding: 0px 5px;
}

.absolute{
  position: absolute;
}

.sweet-loading{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sweet-loading-allSeries{
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sweet-loading-favorites{
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}